<div class="cta1-container thq-section-padding">
  <div class="cta1-max-width thq-section-max-width">
    <div class="cta1-content">
      <h2 class="cta1-heading1 thq-heading-2">{{ heading1 }}</h2>
      <p class="cta1-content1 thq-body-large">{{ content1 }}</p>
      <div class="cta1-actions">
        <button class="thq-button-outline cta1-button">
          <a
            href="https://x.com/sync_video48119"
            target="_blank"
            rel="noreferrer noopener"
            class="cta1-action2 thq-body-small"
          >
            {{ action2 }}
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
