<div class="logos1-container thq-section-padding">
  <div class="logos1-max-width thq-section-max-width">
    <h2 class="logos1-text thq-heading-2">{{ heading1 }}</h2>
    <div class="thq-grid-6">
      <img
        [attr.alt]="logo1Alt"
        [attr.src]="logo1Src"
        class="logos1-logo1 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="logo2Alt"
        [attr.src]="logo2Src"
        class="logos1-logo2 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="logo3Alt"
        [attr.src]="logo3Src"
        class="logos1-logo3 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="logo4Alt"
        [attr.src]="logo4Src"
        class="logos1-logo4 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="logo5Alt"
        [attr.src]="logo5Src"
        class="logos1-logo5 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="logo6Alt"
        [attr.src]="logo6Src"
        class="logos1-logo6 thq-img-ratio-16-9"
      />
    </div>
  </div>
</div>
