<div class="faq1-faq7 thq-section-padding">
  <div class="faq1-max-width thq-section-max-width">
    <div id="FAQS" class="thq-flex-column">
      <h2 class="thq-heading-2">{{ heading1 }}</h2>
      <p class="faq1-text1 thq-body-large">{{ content1 }}</p>
    </div>
    <div class="thq-flex-column faq1-list">
      <div class="faq1-list-item1">
        <p class="faq1-faq1-question thq-body-large">{{ faq1Question }}</p>
        <span class="thq-body-small">{{ faq1Answer }}</span>
      </div>
      <div class="faq1-list-item2">
        <p class="faq1-faq2-question thq-body-large">{{ faq2Question }}</p>
        <span class="thq-body-small">{{ faq2Answer }}</span>
      </div>
      <div class="faq1-list-item3">
        <p class="faq1-faq3-question thq-body-large">{{ faq3Question }}</p>
        <span class="thq-body-small">{{ faq3Answer }}</span>
      </div>
      <div class="faq1-list-item4">
        <p class="faq1-faq4-question thq-body-large">{{ faq4Question }}</p>
        <span class="thq-body-small">{{ faq4Answer }}</span>
      </div>
      <div class="faq1-list-item5">
        <p class="faq1-faq5-question thq-body-large">{{ faq5Question }}</p>
        <span class="thq-body-small">{{ faq5Answer }}</span>
      </div>
    </div>
    <div class="thq-flex-column">
      <div class="faq1-content1">
        <h2 class="thq-heading-2">{{ heading2 }}</h2>
        <p class="faq1-text3 thq-body-large">{{ content2 }}</p>
      </div>
      <div class="faq1-container">
        <button class="thq-button-outline faq1-button">
          <a href="#ContactSection" class="faq1-action1 thq-body-small">
            {{ action1 }}
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
