<div class="features171-layout349 thq-section-padding">
  <div class="features171-max-width thq-section-max-width">
    <div class="features171-image-container">
      <img
        [attr.alt]="feature1ImageAlt"
        [attr.src]="feature1ImageSrc"
        loading="lazy"
        class="features171-placeholder-image thq-img-ratio-16-9"
      />
    </div>
    <div class="features171-content">
      <div class="features171-section-title">
        <div class="features171-content1">
          <h2 class="thq-heading-2">{{ feature1Title }}</h2>
          <p class="thq-body-large">{{ feature1Description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
