<div class="features17-layout349 thq-section-padding">
  <div class="features17-max-width thq-section-max-width">
    <div class="features17-image-container">
      <img
        [attr.alt]="feature1ImageAlt"
        [attr.src]="feature1ImageSrc"
        class="thq-img-ratio-16-9"
      />
    </div>
    <div class="features17-content">
      <div class="features17-section-title">
        <span class="thq-body-small">{{ feature1Slogan }}</span>
        <div class="features17-content1">
          <h2 class="thq-heading-2">{{ feature1Title }}</h2>
          <p class="thq-body-large">{{ feature1Description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
